.settings {
    width: 100%;
}
.settings .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.settings_content {
    width: 100%;
    max-width: 800px;
    padding: 40px 20px;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
}
.settings_content-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    user-select: none;
}
.settings_content-tabs {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.settings_content-tabs-item {
    border: 1px solid #bb6bd3;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: all .4s ease;
    min-width: 110px;
    flex: 1;
}
.settings_content-tabs-item.active {
    background-color: #bb6bd3;
}

.settings_content-contents {
    width: 100%;
    display: flex;
    justify-content: center;
}
.settings_content-contents-card {
    display: none;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}
.settings_content-contents-card.active {
    display: flex;
}
.settings_content-contents-card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.settings_content-contents-card-item-title {
    font-size: 16px;
    font-weight: 600;
}
.settings_content-contents-card-item-value {
    display: flex;
    align-items: center;
    gap: 5px;
}
.settings_content-contents-card-item-value span {
    font-size: 16px;
    font-weight: 300;
    user-select: none;
    display: flex;
    align-items: center;
}
.settings_content-contents-card-item-value button {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.settings_content-contents-card-item-value button img {
    width: 15px;
}


.profile-info-settings-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.profile-info-settings-item-title {
    font-size: 16px;
}
.profile-info-settings-item-button {
    width: 40px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
    outline: none;
}
.profile-info-settings-item-button-round {
    background-color: #bb6bd3;
    height: 20px;
    width: 20px;
    transform: translateX(0);
    transition: all .4s ease;
}
.profile-info-settings-item-button:not(.lang) .profile-info-settings-item-button-round {
    border-radius: 50%;
}
.profile-info-settings-item-button::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #bb6bd390;
    width: 100%;
    height: 100%;
    transition: all .4s ease;
    transform: translateX(-100%);
    z-index: 2;
}
.profile-info-settings-item-button.active .profile-info-settings-item-button-round {
    transform: translateX(20px);
}
.profile-info-settings-item-button.active .profile-info-settings-item-button::before {
    width: 100%;
    transform: translateX(0);
}

.profile-info-settings-item-button.lang {
    width: 50px;
}
.profile-info-settings-item-button.lang .profile-info-settings-item-button-round {
    width: 25px;
    border-radius: 5px;
    transform: translateX(0);
}
.profile-info-settings-item-button .profile-info-settings-item-button-part {
    position: absolute;
    z-index: 4;
    top: 1px;
    font-size: 14px;
    border-radius: none;
}
.profile-info-settings-item-button .profile-info-settings-item-button-part.one {
    left: 7px;
}
.profile-info-settings-item-button .profile-info-settings-item-button-part.two {
    right: 7px;
}
.profile-info-settings-item-button.lang.active .profile-info-settings-item-button-round {
    transform: translateX(25px);
}


.updatemodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 60;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0007;
}
.updatemodal-content {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 5px #0003;
    width: 100%;
    max-width: 350px;
}
.updatemodal-content input,
.updatemodal-content textarea
{
    background-color: #0001;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
}
.updatemodal-content textarea,
.updatemodal-content textarea::placeholder {
    font-family: 'Roboto';
    font-weight: 300;
    resize: none;
}
.updatemodal-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.updatemodal-btns button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.updatemodal-btns button.confirm {
    background-color: #bb6bd3;
    color: #fff;
}

.settings_content-contents-help-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.accordion {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
}
.accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(-23deg, #bb6bd350, #bb6bd300);
    padding: 10px 20px;
    border-radius: 10px;
}
.accordion-header span {
    font-size: 16px;
    font-weight: 600;   
}
.accordion-body {
    padding: 10px 20px;
    border-radius: 10px;
}
.accordion-body p {
    font-size: 16px;
}
.settings_content-contents-card-item.image {
    width: 100%;
    display: flex;
    justify-content: center;
}
.settings_content-contents-card-item.image .settings_content-contents-card-item-value {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.settings_content-contents-card-item.image .settings_content-contents-card-item-value.default {
    padding: 5px;
}
.settings_content-contents-card-item.image .settings_content-contents-card-item-value.personal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.settings_content-contents-card-item.image .settings_content-contents-card-item-value.default img {
    width: 60px;
    height: 60px;
    opacity: .5;
}
.settings-image-text-change {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding: 3px;
    font-size: 12px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transform: translateY(50px);
    transition: all .4s ease;
    background-color: #0004;
    color: #fff !important;
}
.settings_content-contents-card-item.image:hover .settings-image-text-change {
    transform: translateY(0);
}

.settings_content-contents-card-item.about {
    position: relative;
    margin-top: 20px;
}
.settings_content-contents-card-item-title.about {
    position: absolute;
    top: -10px;
    left: 10px;
    padding: 0 5px;
}
.settings_content-contents-card-item-value.about {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
}