.openrecipe-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}
.openrecipe-form {
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.openrecipe-form-image {
    width: 100%;
    height: 100%;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.openrecipe-form-image img {
    border-radius: 10px;
    height: 100%;
    width: auto;
    pointer-events: none;
}
.openrecipe-form-title {
    width: 100%;
    text-align: center;
}
.openrecipe-form-description {
    width: 100%;
    font-size: 16px;
    text-align: center;
}
.openrecipe-form-cuptime {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}
.openrecipe-form-cuptime-item {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.openrecipe-form-cuptime-item img {
    height: 25px;
    opacity: .5;
}
.openrecipe-form-cuptime-item span {
    opacity: .5;
}
.openrecipe-form-table {
    border-radius: 15px;
    overflow: hidden;
}
.openrecipe-form-table-th {
    background-color: #bb6bd350;
    font-weight: 600;
}
.openrecipe-form-table-th th,
.openrecipe-form-table-td td {
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
}
.openrecipe-form-table-td.step td:nth-child(1) {
    display: flex;
    align-items: start;
}
.openrecipe-form-table-td.step td:nth-child(2) {
    text-align: left;
}
.btn-trash {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.btn-trash img {
    height: 20px;
}
.deletemodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 60;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0007;
}
.deletemodal-content {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.deletemodal-content p {
    font-size: 16px;
}
.deletemodal-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.deletemodal-btns button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.table-number-one {
    width: 50px;
}
.th-step {
    display: flex;
    justify-content: left;
}