.addform-container {
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}
.addform-form {
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.addform-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.addform-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.addform-image {
    height: 100%;
    max-height: 200px;
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    overflow: hidden;
}
.addform-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.addform-image-upload-btn {
    position: absolute;
    background-color: #fff8;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0;
    transition: all .4s ease;
}
.addform-image-container:hover .addform-image-upload-btn {
    opacity: 1;
}
.addform-form-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addform-form-description {
    font-family: 'Roboto';
    font-weight: 300;
    resize: none;
}
.addform-form-image-input {
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
}
.addform-form-input {
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
}
.addform-form-cuptime {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.addform-form-time,
.addform-form-cup {
    width: 100%;
}
.addform-form-table {
    border-radius: 15px;
    overflow: hidden;
}
.addform-form-table thead tr th{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
}
.addform-form-table-tbody-tr td input {
    padding: 5px 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
}
.addform-form-table-tbody-tr td:nth-child(1) {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.addform-form-table-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.addform-form-table-btn button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #bb6bd3;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.addform-form-table thead tr,
.addform-form-table tbody tr {
    position: relative;
}
.addform-form-table tbody tr td {
    position: relative;
}
.addform-form-table-ingred thead tr th:nth-child(2),
.addform-form-table-ingred thead tr th:nth-child(3),
.addform-form-table-steps thead tr th:nth-child(2)
{
    text-align: left;
}

.remove-btn {
    position: absolute;
    right: 5px;
    top: 4px;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 40;
}
.addform-form-table thead tr th:nth-child(1),
.addform-form-table-tbody-tr td:nth-child(1) {
    width: 40px;
}
.addform-form-btnsubmit {
    width: 100%;
    display: flex;
    justify-content: center;
}