.categories-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.categories-content.none {
    grid-template-columns: repeat(1, 1fr);
}
@media ( max-width: 1000px ) {
    .categories-content {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
@media ( max-width: 768px ) {
    .categories-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
}